@model IEnumerable<ESL.Web.Areas.Dashboard.Models.ViewModels.Model_ExamsInPerson>
@using ESL.Common.Plugins

@{
    ViewBag.Title = "لیست آزمون های حضوری";
    Layout = "~/Areas/Dashboard/Views/Shared/_Master.cshtml";
}


<div class="panel panel-body panel-default  navigation">

    <div class="pull-left">
        <h4 class="navigation-title"><b>لیست آزمون های حضوری</b></h4>
    </div>

    <div class="pull-right">
        <a href="#" onclick="Create()"><i class="glyphicon glyphicon-plus navigation-btn-icon"></i></a>
    </div>

</div>

<div class="panel panel-default">

    <div class="panel-body table-body" style="overflow-x:auto;">

        <table id="DateTable" class="table  table-bordered table-striped table-secondary" style="width:100%;">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Cost)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Location)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Capacity)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.TotalMark)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.PassMark)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.CreationDate)</th>
                    <th scope="col" data-orderable="false">کنترل</th>
                </tr>
            </thead>

            <tbody>
                @{
                    int x = 0;
                }

                @foreach (var item in Model)
                {
                    x++;

                    <tr>
                        <td scope="row">@x</td>
                        <td scope="row">
                            <span> @Html.DisplayFor(modelItem => item.Title) </span>
                        </td>
                        <td scope="row">
                            <span> @Html.DisplayFor(modelItem => item.Cost) </span>
                        </td>
                        <td scope="row">
                            <span> @Html.DisplayFor(modelItem => item.Location) </span>
                        </td>
                        <td scope="row">
                            <span> @Html.DisplayFor(modelItem => item.Capacity) </span>
                        </td>
                        <td scope="row">
                            <span> @Html.DisplayFor(modelItem => item.TotalMark) </span>
                        </td>
                        <td scope="row">
                            <span> @Html.DisplayFor(modelItem => item.PassMark) </span>
                        </td>
                        <td scope="row">
                            <span> @PersianDateExtensionMethods.ToPeString(item.CreationDate, "yyyy/MM/dd") </span>
                        </td>
                        <td scope="row">
                            <a class="btn btn-info btn-sm glyphicon glyphicon-list" href="@Url.Action("Details", "ExamInPerson", new { id = item.ID })"> </a>
                            <a class="btn btn-warning btn-sm glyphicon glyphicon-pencil" onclick="Edit(@item.ID)"> </a>
                            <a class="btn btn-danger btn-sm glyphicon glyphicon-trash" onclick="Delete(@item.ID)"> </a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>


@Html.Partial("_Modal")

@section Modal {
    <script>

        function Delete(id) {
            $.ajax({
                url: "/Dashboard/ExamInPerson/Delete/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('حدف آزمون');
                $('#myModalBody').html(result);
            });
        }

        function Create() {
            $.ajax({
                url: "/Dashboard/ExamInPerson/Create",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('افزودن آزمون');
                $('#myModalBody').html(result);
            });
        }

        function Edit(id) {
            $.ajax({
                url: "/Dashboard/ExamInPerson/Edit/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('ویرایش آزمون');
                $('#myModalBody').html(result);
            });
        }

    </script>
}