
<ul class="navbar nav aside-panel">
    <li>
        <!--<div style="width: 90%; height: 90%;  border: 2px solid #6BA4D6 ;border-radius: 10%; margin: auto; margin-top: 10px; ">-->
        @*<img src="~/Content/Images/logo.png" />*@
        <img src="~/Content/Images/abstract-user-flat-3.png" alt="Logo" class="img-responsive img-rounded img-logo" style="height:200px;">
        <!--</div>-->
        <a href="@Url.Action("Dashboard","Dashboard")">
            <i class="glyphicon glyphicon-dashboard  "></i>
            داشبورد

        </a>
    </li>

    <li>
        <a href="@Url.Action("Search","Home")">
            <i class="glyphicon glyphicon-book"></i>
            جستجو کتاب

        </a>
    </li>


    <li data-toggle="collapse" data-target="#sub-menu-file">

        <a href="#">
            <i class="glyphicon glyphicon-book"></i>
            مدیرت فایل
            <i class="glyphicon glyphicon-chevron-right pull-right gly-rotate-90"></i>

        </a>

        <ul class="collapse nav aside-sub-panel " id="sub-menu-file">
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i>
                    فایل های شخصی
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i>
                    فایل عمومی
                </a>
            </li>


        </ul>


    <li data-toggle="collapse" data-target="#sub-menu-request">

        <a href="#">
            <i class="glyphicon glyphicon-book"></i>
            درخواست ها
            <i class="glyphicon glyphicon-chevron-right pull-right gly-rotate-90"></i>

        </a>

        <ul class="collapse nav aside-sub-panel " id="sub-menu-request">
            <li>
                <a href="@Url.Action("RequestTypeSelector","Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    بارگزاری
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i>
                    لیست درخواست ها
                </a>
            </li>


        </ul>


    </li>


    <li data-toggle="collapse" data-target="#sub-menu-User">

        <a href="#">
            <i class="glyphicon glyphicon-book"></i>
            مدیرت کاربران
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>

        </a>

        <ul class="collapse nav aside-sub-panel " id="sub-menu-User">
            <li>
                <a href="@Url.Action("UsersList","User")">
                    <i class="glyphicon glyphicon-book"></i>
                    لیست کاربران
                </a>
            </li>

            <li>
                <a href="@Url.Action("UsersRegisterNotCompleteList","User")">
                    <i class="glyphicon glyphicon-book"></i>
                    لیست عضویت های ناتمام
                </a>
            </li>

            <li>
                <a href="@Url.Action("RegisterCodeBuilder","User")">
                    <i class="glyphicon glyphicon-book"></i>
                    کاربر جدید
                </a>
            </li>

        </ul>


    </li>

    <li data-toggle="collapse" data-target="#sub-menu-book">

        <a href="#">
            <i class="glyphicon glyphicon-book"></i>
            مدیرت کتاب ها
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>

        </a>

        <ul class="collapse nav aside-sub-panel " id="sub-menu-book">
            <li>
                <a href="@Url.Action("BookList","Book")">
                    <i class="glyphicon glyphicon-book"></i>
                    لیست کتاب ها
                </a>
            </li>

            <li>
                <a href="@Url.Action("BookTypeSelector","Book")">
                    <i class="glyphicon glyphicon-book"></i>
                    کتاب جدید
                </a>
            </li>


        </ul>


    </li>

    <li data-toggle="collapse" data-target="#sub-menu-exam">

        <a href="#">
            <i class="glyphicon glyphicon-book"></i>
            مدیرت آزمون ها
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
        </a>

        <ul class="collapse nav aside-sub-panel" id="sub-menu-exam">

            <li>
                <a href="@Url.Action("Index", "Exam")">
                    <i class="glyphicon glyphicon-book"></i>
                    آزمون های غیر حضوری
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "ExamInPerson")">
                    <i class="glyphicon glyphicon-book"></i>
                    آزمون های حضوری
                </a>
            </li>

        </ul>

    </li>


    <li>
        <a href="@Url.Action("Setting","Setting")">
            <i class="glyphicon glyphicon-book"></i>
            تنظیمات سامانه
        </a>

    </li>


</ul>

