@model ESL.DataLayer.Domain.Tbl_Exam

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Dashboard/Views/Shared/_Master.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exam_Guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_Guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_Mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_PassMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_PassMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Question.Question_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Question.Question_Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Exam_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
