@model IEnumerable<ESL.DataLayer.ViewModels.Model_Exam>
@using ESL.Common.Plugins

@{
    ViewBag.Title = "لیست آزمون ها";
    Layout = "~/Areas/Dashboard/Views/Shared/_Master.cshtml";
}

<h2>لیست آزمون ها</h2>

<p>
    <a href="#" onclick="Create()">افزودن</a>
</p>

@if (TempData["Response"] != null)
{
    if (TempData["Response"].ToString() == "DeleteSuccess")
    {
        <p>آره حذف میشه</p>
    }
    else
    {
        TempData["Response"] = null;
    }
}

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassMark)
            </td>
            <td>
                @PersianDateExtensionMethods.ToPeString(item.CreationDate, "yyyy/MM/dd")
            </td>
            <td>
                <a href="#" onclick="Edit(@item.ID)">ویرایش</a>
                <a href="#" onclick="Delete(@item.ID)">حذف</a>
            </td>
        </tr>
    }

</table>




@Html.Partial("_Modal")

@section Modal {
    <script>

        function Delete(id) {
            $.ajax({
                url: "/Dashboard/Exam/Delete/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('حدف آزمون');
                $('#myModalBody').html(result);
            });
        }

        function Create() {
            $.ajax({
                url: "/Dashboard/Exam/CreateOrEdit",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('افزودن آزمون');
                $('#myModalBody').html(result);
            });
        }

        function Edit(id) {
            $.ajax({
                url: "/Dashboard/Exam/CreateOrEdit/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('ویرایش آزمون');
                $('#myModalBody').html(result);
            });
        }

    </script>
}
